<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cwazuretesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cwazuretesting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CWAzureTesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$CWAzureTesting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User ID=null@dbazuretesting.database.windows.net;Password=$coutS55" Name="Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User Id=null@dbazuretesting.database.windows.net;Password=$coutS55" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CW_AzureTest.ApplicationDbContext, CW_AzureTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureTestingConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User ID=null@dbazuretesting.database.windows.net;Password=$coutS55" Name="Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User Id=null@dbazuretesting.database.windows.net;Password=$coutS55" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dbazuretesting.database.windows.net;Initial Catalog=AzureTesting;User ID=cwomack;Password=$coutS55" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureTestingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:dbazuretesting.database.windows.net;Initial Catalog=AzureTesting;User ID=cwomack;Password=$coutS55" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureTestingConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User Id=null@dbazuretesting.database.windows.net;Password=$coutS55</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dbazuretesting.database.windows.net,1433;Initial Catalog=AzureTesting;User Id=null@dbazuretesting.database.windows.net;Password=$coutS55</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>